source "C:/Users/H1/.platformio/packages/framework-espidf@3.40408.0/components/bootloader/Kconfig.projbuild"
source "C:/Users/H1/.platformio/packages/framework-espidf@3.40408.0/components/esp_rom/Kconfig.projbuild"
source "C:/Users/H1/.platformio/packages/framework-espidf@3.40408.0/components/esptool_py/Kconfig.projbuild"
source "C:/Users/H1/.platformio/packages/framework-espidf@3.40408.0/components/partition_table/Kconfig.projbuild"