source "C:/Users/H1/.platformio/packages/framework-espidf@3.40408.0/components/efuse/Kconfig"
source "C:/Users/H1/.platformio/packages/framework-espidf@3.40408.0/components/esp32/Kconfig"
source "C:/Users/H1/.platformio/packages/framework-espidf@3.40408.0/components/esp_common/Kconfig"
source "C:/Users/H1/.platformio/packages/framework-espidf@3.40408.0/components/esp_hw_support/Kconfig"
source "C:/Users/H1/.platformio/packages/framework-espidf@3.40408.0/components/esp_system/Kconfig"
source "C:/Users/H1/.platformio/packages/framework-espidf@3.40408.0/components/freertos/Kconfig"
source "C:/Users/H1/.platformio/packages/framework-espidf@3.40408.0/components/hal/Kconfig"
source "C:/Users/H1/.platformio/packages/framework-espidf@3.40408.0/components/log/Kconfig"
source "C:/Users/H1/.platformio/packages/framework-espidf@3.40408.0/components/newlib/Kconfig"
source "C:/Users/H1/.platformio/packages/framework-espidf@3.40408.0/components/spi_flash/Kconfig"